<html>
    <head>
        <title>myapp</title>
    </head>
    <body>
        <h1>hello</h1>
        <div id="view">

        </div>
        <script type="text/javascript">
        
            let isCheck = localStorage.getItem('token');
            if(!isCheck){
                window.location.replace('/');
            } else {
                const decode = JSON.parse(atob(isCheck.split('.')[1]));
                console.log(decode.username); 
                console.log(decode.email);
                console.log(decode.phone)
            }
        </script>
    </body>
</html>